<div class="max-w-4xl mx-auto p-4">
  <h2 class="text-2xl font-bold mb-4">Your Cart</h2>

  <div *ngIf="cartItems().length === 0" class="text-center text-gray-500">
    No items in your cart.
  </div>
  <div
    *ngFor="let item of cartItems()"
    class="border p-4 rounded-lg mb-2 flex justify-between items-center border-gray-400"
  >
    <div class="flex items-center">
      <img
        [src]="item.image"
        alt="{{ item.name }}"
        class="w-16 h-16 object-cover rounded-md mr-4"
      />
      <div>
        <h3 class="text-lg font-semibold">{{ item.name }}</h3>
        <p class="text-gray-600">฿{{ item.price }} x {{ item.quantity }}</p>
      </div>
    </div>

    <button
      (click)="removeFromCart(item.productId)"
      class="font-bold rounded-lg p-2"
    >
      <i class="text-black hover:text-red-600 fa-solid fa-trash"></i>
    </button>
  </div>

  <h2 class="text-2xl font-bold mb-4">Total</h2>
  <div></div>
</div>
